@charset "UTF-8";

                    /* ---------- Globais ---------- */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --cor1:#025E73;
    --cor2:#F2A057;
    --cor3:#F23005;
    --cor4:#8C1C03;
    --cor5:#590902;
}


body{
    background-color: #F2A057;

    width: 100vw;
    min-height: 100vh;
    

    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    grid-template-rows: auto;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

div{
    border: 1px solid black;
    border-collapse: collapse;
}

                    /* ---------- header (LINHAS 1 A 3) ---------- */

header{
    background-color: var(--cor5);

    grid-column: 1/7;
    grid-row: 1/4;

    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
}

header > div{
    background-color: white;
    color: black;
    font-size: 1.5em;

    grid-column: 3/5;
    grid-row: 2;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

                    /* ---------- nav (LINHA 4) ---------- */

nav{
    background-color: var(--cor4);

    grid-column: 1/7;
    grid-row: 4;
}

/* ICONE */

i#icone_menu{
    background-color: var(--cor4);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer; /* Mãozinha ao passar por cima */
}

i#icone_menu:hover{
    background-color: white;
    color: black;
}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: var(--cor4);
    color: white;
    text-align: center;
    /* border-top: 1px solid grey; */
}

menu > ul > li > a:hover{
    background-color: grey;
}

/* FILTROS */

                    /* ---------- main (LINHAS 5 A 16)---------- */

main{
    background-color: white;
    margin: auto;

    grid-column: 1/7;
    grid-row: 5/17;
}

/* filtros */

main > aside{
    display: none;
}

/* tela dos produtos */

main > article{
    background-color: white;
    padding: 5px 0px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.produto{
    width: 200px;
    height: 240px;
    margin: 5px 0px;
    display: grid;
}

.imagem_produto{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto_produto{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

                    /* ---------- footer (LINHA 17) ---------- */

footer{
    background-color: var(--cor5);
    grid-column: 1/7;
    grid-row: 17;
    
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
}

footer > div{
    background-color: white;
    font-size: 1.2em;

    grid-column: 3/5;
    grid-row: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}